body {
margin:0;
padding:0;
}

#controls {
position:absolute;
right:0px;
top:0px;
bottom:0px;
width:50px;
padding:0 0 0px 0px;
font-family: Helvetica, Arial, sans-serif;
font-size:10px;
}

#opacity{
width:40px;
}

.colorBox {
display:inline-block;
width:15px;
height:15px;
border:2px solid #ccc;
cursor:pointer;
opacity:0.3;
margin:0;
}

.colorBox.active {
opacity:1;
}

.hidden {
display:none;
}

#colorpicker {
opacity:1;
}