body {
margin:0;
padding:0;
}

#controls {
position:absolute;
right:0px;
top:0px;
bottom:0px;
width:50px;
padding:0 0 0px 0px;
font-family: Helvetica, Arial, sans-serif;
font-size:10px;
}

#opacity{
width:40px;
}

#activeColorSwatch{
display:inline-block;
width:37px;
height:15px;
border:2px solid #ccc;
opacity:1;
margin:0;
}

.colorSwatch{
display:inline-block;
width:15px;
height:15px;
border:2px solid #ccc;
cursor:pointer;
opacity:0.3;
margin:0;
}

.colorSwatch.active {
opacity:1;
}

#pickerSwatch {
opacity:1;
background-image:url('/static/images/wheel.png');
background-size:100%;
}

.hidden {
display:none;
}

#colorpicker {
opacity:1;
}

#myColorPicker {
display:none;
position:absolute;
top:0px;
right:100px;
z-index:100
}

#myCanvas {
cursor:pointer;
}